.switchButton {
    position: fixed;
    z-index: 9999;
    background: #ffffff;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .switchButton {
        display: none;
    }
}
