.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s ease-in;
}

.three-container {
    background-color: #000;
}

.loading-screen {
    z-index: 99999;
    position: absolute;
    width: 100%;
    height:100vh;
    background-color: #000;
}

.loading-elems {
    position: absolute;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
}

.loading-screen img {
    width: 100%;
    margin-bottom: 20px;

    animation: blink 1s ease-in infinite;
}

@keyframes blink {
  from, to { transform: scale(1); }
  50% { transform: scale(0.95); }
}

.loading-screen p {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #0576e2;
    font-family: AristotelicaBold;
}
