.App {
    text-align: left;
    width: 90%;
    padding: 5%;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .blackColor{
    color: black;
  }

  h2{
      margin-bottom: 30px;
  }

.card-img-top{
    height: 60px; 
    width: 60px;

}

.card-body{
    background-color: #F6F3D8;
}
