.farm-heading {
  @apply font-bold text-white text-7xl mb-2 drop-shadow-2xl font-aristotelica;
  text-shadow: 2px 2px #333333;
}

.deposit-clam-btn {
  @apply hover:bg-red-100 text-2xl  rounded-xl shadow-md px-4 pt-0 pb-0;
  @apply bg-blue-600 text-white font-montserrat;
}

.mFarmItem {
  @apply bg-white/80 border pb-2 border-black rounded-xl;
  @apply flex flex-col justify-between;
  
  .progress-bar {
    @apply relative pt-1 px-2;
    .base-bar {
      @apply overflow-hidden h-4 mb-4 text-xs flex rounded bg-blue-200;
    }

    .completion-bar {
      @apply shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center;
      position: relative;
      overflow: hidden;
      background-color: rgba(0, 155, 255, 0.7);
    }

    .completion-bar::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(0, 100, 200, 1) 0,
        rgba(0, 100, 200, 0.9) 50%,
        rgba(0, 100, 200, 0.8) 100%
      );
      animation: shimmer 3s ease-out infinite;
      content: "";
    }

    @keyframes shimmer {
      100% {
        transform: translateX(0%);
        opacity: 0;
      }
    }

    span {
      @apply absolute;
      left: 35%;
    }
  }
}

.progress-bar {
  @apply relative pt-1 px-2;
  .base-bar {
    @apply overflow-hidden h-4 mb-4 text-xs flex rounded bg-blue-200;
  }

  .completion-bar {
    @apply shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 155, 255, 0.7);
  }

  .completion-bar::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(0, 100, 200, 1) 0,
      rgba(0, 100, 200, 0.9) 50%,
      rgba(0, 100, 200, 0.8) 100%
    );
    animation: shimmer 3s ease-out infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(0%);
      opacity: 0;
    }
  }

  span {
    @apply absolute;
    left: 35%;
  }
}
.FarmItem {
  @apply rounded-xl shadow-md overflow-hidden border-b-4 border-blue-500 bg-white pb-2;
  @apply flex flex-col justify-between;

  .progress-bar {
    @apply relative pt-1 px-2;
    .base-bar {
      @apply overflow-hidden h-4 mb-4 text-xs flex rounded bg-blue-200;
    }

    .completion-bar {
      @apply shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center;
      position: relative;
      overflow: hidden;
      background-color: rgba(0, 155, 255, 0.7);
    }

    .completion-bar::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(0, 100, 200, 1) 0,
        rgba(0, 100, 200, 0.9) 50%,
        rgba(0, 100, 200, 0.8) 100%
      );
      animation: shimmer 3s ease-out infinite;
      content: "";
    }

    @keyframes shimmer {
      100% {
        transform: translateX(0%);
        opacity: 0;
      }
    }

    span {
      @apply absolute;
      left: 35%;
    }
  }

  .view-pearl-btn {
    @apply bg-blue-500 text-white hover:bg-blue-400; /* border and text color*/
    @apply font-black font-avenir text-xl; /*font weight and size*/
    @apply px-4 py-4 rounded-lg w-full; /* button padding, width, radius*/
  }

  .view-details {
    @apply text-lg underline hover:no-underline;
    color: #757575;
  }
}

.withdraw-btn {
  @apply border-4 border-withdraw text-withdraw hover:bg-withdraw hover:text-white disabled:bg-white disabled:text-withdraw disabled:cursor-not-allowed; /* border and text color*/
  @apply font-black font-avenir text-xl; /*font weight and size*/
  @apply rounded-lg w-full; /* button padding, width, radius*/
}

.deposit-btn {
  @apply bg-blue-500 text-white hover:bg-blue-400; /* border and text color*/
  @apply font-black font-avenir text-xl; /*font weight and size*/
  @apply px-4 py-4 rounded-lg w-full; /* button padding, width, radius*/
}

.ClamDetails {
  .heading {
    @apply font-extrabold text-black font-avenir text-xl mb-2;
  }

  .detail-box {
    @apply bg-gray-300 rounded-xl p-4;
  }

  .grid-value {
    @apply text-black font-bold text-right font-montserrat;
  }
  .grid-title {
    @apply font-montserrat text-left;
    color: #757575;
  }
}

.ClamDeposit {
  @apply w-full;

  .clam-details {
    @apply flex flex-row items-center;
    @apply border-4 border-opacity-80 border-blue-100 rounded-xl p-2 mb-2;

    .details {
      @apply flex flex-1 flex-col;
    }
  }
}

.clamStatsColumn {
  min-width: 560px;
}
