.farm-heading {
  @apply font-bold text-white text-7xl mb-2 drop-shadow-2xl font-aristotelica;
  text-shadow: 2px 2px #333333;
}

.deposit-clam-btn {
  @apply hover:bg-red-100 text-2xl  rounded-xl shadow-md px-4 pt-0 pb-0;
  @apply bg-blue-600 text-white font-montserrat;
}

.FarmItem {
  @apply rounded-xl shadow-md overflow-hidden border-b-4 border-blue-500 bg-white;
  @apply flex flex-col justify-between;

  .progress-bar {
    @apply relative pt-1 px-2;
    .base-bar {
      @apply overflow-hidden h-4 mb-4 text-xs flex rounded bg-blue-200;
    }
    .completion-bar {
      @apply shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500;
    }
    span {
      @apply absolute;
      left: 40%;
    }
  }

  .view-pearl-btn {
    @apply bg-blue-500 text-white hover:bg-blue-400; /* border and text color*/
    @apply font-black font-avenir text-xl; /*font weight and size*/
    @apply px-4 py-4 rounded-lg w-full; /* button padding, width, radius*/
  }

  .view-details {
    @apply text-xl text-center;
    color: #757575;
  }
}

.withdraw-btn {
  @apply border-4 border-withdraw text-withdraw; /* border and text color*/
  @apply font-black font-avenir text-2xl; /*font weight and size*/
  @apply px-4 py-4 rounded-lg w-full; /* button padding, width, radius*/
}

.PearlDetails {
  .detail-box {
    @apply bg-gray-300 rounded-xl p-4 mt-4;
    .heading {
      @apply font-semibold text-black font-montserrat;
    }
  }
}

.ClamDeposit {
  @apply w-full;
  .heading {
    @apply text-black font-bold font-aristotelica text-2xl;
  }
  .clam-details {
    @apply flex flex-row items-center;
    @apply border-4 border-blue-200 rounded-xl p-4 my-4;

    .details {
      @apply flex flex-1 flex-col;
      .grid-value {
        @apply text-black font-bold text-right text-xl font-montserrat;
      }
      .grid-title {
        @apply font-montserrat text-left;
        color: #757575;
      }
    }
  }
}
