.bg-bank {
  // background-image: url('../../assets/locations/bank_static.jpg') !important;
  background-size: cover;
  background-position: center bottom;
}

.card-shadow {
  -webkit-box-shadow: 0 0 10px 9px rgba(25, 140, 229, 0.2);
  -moz-box-shadow: 0 0 10px 9px rgba(25, 140, 229, 0.2);
  box-shadow: 0 0 10px 9px rgba(25, 140, 229, 0.2);
}



.mSelectP {
  width: 130px;
  /* Heading + CTAs */
  background: #0072E3;
  border-radius: 20px;
  padding: 8px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;

  color: #FFFFFF;
}
