.bg-bank {
  // background-image: url('../../assets/locations/bank_static.jpg') !important;
  background-size: cover;
  background-position: center bottom;
}

.card-shadow {
  -webkit-box-shadow: 0 0 10px 9px rgba(25, 140, 229, 0.2);
  -moz-box-shadow: 0 0 10px 9px rgba(25, 140, 229, 0.2);
  box-shadow: 0 0 10px 9px rgba(25, 140, 229, 0.2);
}




