.character-bubble {
    position: absolute;
    z-index: 999;
    bottom: 2%;
    width: 100%;
    height: 75%;
    pointer-events: none;
    padding-left: 20px;


    @media screen and (max-width: 1440px) {
        height: 55%;
    }

    .character-container {
        opacity: 1;
        height: 100%;
        float: right;
        margin-right: 3%;
        position: relative;
        left: 0px;
        transition: opacity 2s, left 2s ease-out;

        .character {
            height: 100%;
        }

        @media screen and (max-width: 992px) {
            opacity: 0;
        }
    }

    .character-container-round {
        // opacity: 0;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        background-color: rgba(240,240,240, 0.7);
        border: 2px solid #0000ff;
        overflow: hidden;
        padding: 5px;
        position: absolute;
        bottom: 5px;
        right: 10px;
        z-index: 999999999;

        transition: opacity 2s ease-in;

        .character {
            width: 100%;
        }

        @media screen and (max-width: 992px) {
            opacity: 1;
        }

        @media screen and (max-width: 548px) {
            right: -5px;
        }
    }

    .text-bubble {
        position: relative;
        height: 100%;
        width: 75%;
        padding-top: 45vh;
        margin-right: 40px;
        float: left;
        top: 0px;
        transition: opacity 1s, top 1s ease-out;

        @media screen and (max-width: 1490px) {
            width: 65%;
        }

        @media screen and (max-width: 1440px) {
            padding-top: 25vh;
        }

        .name {
            position: absolute;
            margin-top: -35px;
            left: 30px;
            z-index: 2;
            color: #0576e2;
            background-color: #fff;
            border-radius: 10px;
            padding: 5px;
            padding-top: 8px;
            border: 4px solid #0576e2;
            font-size: 30px;
            font-family: AristotelicaBold;
            width: 30%;
            text-align: center;
            box-shadow: 0 0 5px 3px #fff;

            @media screen and (max-width: 1440px) {
                width: 40%;
            }

            @media screen and (max-width: 992px) {
                font-size: 25px;
                width: 50%;
            }

            @media screen and (max-width: 548px) {
                font-size: 16px;
                left: 25%;
            }
        }

        .speech {
            background-color: #0576e2;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            padding: 50px 30px 30px;
            color: #fff;
            opacity: 0.8;
            text-align: justify;
            box-shadow: 0 0 5px 3px;

            @media screen and (max-width: 548px) {
                padding: 20px;
            }

            .speech-text {
                font-size: 30px;
                font-family: AristotelicaBold;

                @media screen and (max-width: 992px) {
                    font-size: 25px;
                }
            

                @media screen and (max-width: 548px) {
                    font-size: 16px;
                }
            }
        }

        .btn {
            position: absolute;
            border: 2px solid #38DCDC;
            bottom: 10%;
            right: 30px;
            background-color: #38DCDC;
            width: 200px;
            font-size: 20px;
            font-family: AristotelicaBold;
            padding-top: 15px;
            border-radius: 10px;
            pointer-events: auto;

            @media screen and (max-width: 992px) {
                bottom: -25px;
            }

            &:hover,
            &:focus,
            &:active {
                background-color: #34cfcf;
                color: #0576e2;
                border: 2px solid #fff;
            }
        }

    }
}

.hide-bubble {
    // display: none;
    .character-container {
        left: 20%;
        opacity: 0;
    }
    .character-container-round {
        opacity: 1;
    }
    .text-bubble {
        top: 50%;
        opacity: 0;
    }
}
