.shell-presale {
    width: 100%;
    height: 100vh;
    background-color: #e1c18b;
    background-image:
        url(../../assets/locations/clam_island_bank.png),
        url(../../assets/locations/clam_island_bank_blurred.png);
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}