.shell-presale {
    width: 100%;
    height: 100vh;
    background-color: #e1c18b;
    //background-image:
    //    url(../../assets/locations/clam_island_bank.png),
    //    url(../../assets/locations/clam_island_bank_blurred.png);
    //background-size: contain, cover;
    //background-repeat: no-repeat, no-repeat;
    //background-position: center, center;
}

#env-wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}

#env {
  height: 100%;
  width: 200vh;
  min-width: 100%;
  min-height: 50vw;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

.opening-soon {
  display: none;
}
