.bankIsland {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 5;
}

.bankBuilding {
    position: absolute;
    width: 200px;
    left: 115px;
    top: -30px;
}

.bankSign {
    position: absolute;
    width: 100px;
    top: -95px;
    left: 175px;
}
