.shell-presale {
    width: 100%;
    height: 100vh;
    background-color: #e1c18b;
    //background-image:
    //    url(../../assets/locations/clam_island_bank.png),
    //    url(../../assets/locations/clam_island_bank_blurred.png);
    //background-size: contain, cover;
    //background-repeat: no-repeat, no-repeat;
    //background-position: center, center;
}

#env-wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url('../../assets/locations/bank_static.jpg');
  background-size: cover;
  background-position: right bottom;
}

#env {
  object-fit: cover;
  object-position: right bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.opening-soon {
  display: none;
}

.wallet-balance {
  line-height: 38px;
  margin-right: 20px;
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 7px 10px;
}
