.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/locations/water.jpg");
    min-height: 900px;
}

.bg .water {
    position: absolute;
    background-image: url("../../assets/locations/water.jpg");
    background-size: cover;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    filter: url("#turbulence");
    min-height: 900px;
}

.highlight:hover {
    filter: drop-shadow(0 0 0.75rem #38dcdc);
    cursor: pointer;
}

.mapWrapper {
    position: relative;
    height: 100%;
    min-height: 900px;
}

.island {
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1880px) {
    .island {
        transform: translate(-50%, -50%) scale(0.95);
    }
}

@media screen and (max-width: 1620px) {
    .island {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

@media screen and (max-width: 1440px) {
    .island {
        transform: translate(-50%, -50%) scale(0.75);
    }
}

@media screen and (max-width: 1024px) {
    .island {
        transform: translate(-50%, -50%) scale(0.6);
    }
}

@media screen and (max-width: 600px) {
    .island {
        transform: translate(-50%, -50%) scale(0.5);
    }
}
