body {
  margin: 0;
  font-family: 'Roboto' sans-serif;
  
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
 /* font-size: 100%; */
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  color: purple;
}

.connectButton{
  background-color: purple;
  color: purple;
}

.card{
  box-shadow: 5px 5px 5px #aaaaaa;
}

.card-body{
  background-color: white;
}

@font-face {
  font-family: AristotelicaBold;
  src: url(./assets/fonts/aristotelica.text-trial-bold.ttf);
  font-weight: bold;
}

.fontStyle{
  /* font-family: trio; */
}
