@font-face {
  font-family: AristotelicaBold;
  src: url(./assets/fonts/aristotelicaText_bold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: TrioGrotesk;
  src: url(./assets/fonts/trio_grotesk.otf) format("opentype");
  font-weight: bold;
}

body {
  margin: 0;
  
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "TrioGrotesk";
}

* {
  font-family: "TrioGrotesk";
}


