.clam-presale {
    width: 100%;
    height: 100vh;
    background-color: #6cb4aa;
    background-image:
        url(../../assets/locations/clam_island_shop.png),
        url(../../assets/locations/clam_island_shop_blurred.png);
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;;
}